<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gabang.vo.board-mapper">
	<!-- 게시물 -->
	<select id="boardListData" resultType="BoardVO" parameterType="java.util.Map">
		SELECT no,title,email,regdate,hit,group_tab,num 
		FROM (SELECT no,title,email,regdate,hit,group_tab,rownum as num
		FROM (SELECT no,title,email,regdate,hit,group_tab
		FROM qna ORDER BY group_id DESC, group_step ASC))
		WHERE num BETWEEN #{start} AND #{end}
	</select>

	<!-- 총페이지 읽기 -->
	<select id="boardTotalPage" resultType="int">
		SELECT CEIL(COUNT(*)/10)
		FROM qna
	</select>
	<!-- 새 게시물넣기 -->
	<insert id="boardInsert" parameterType="BoardVO">
		INSERT INTO qna(no,email,title,content,hit,group_id) 
		VALUES((SELECT NVL(MAX(no)+1,1) FROM qna),
		#{email},#{title},#{content},0,
		(SELECT NVL(MAX(GROUP_id)+1,1) FROM qna)
		)
	</insert>



	<!-- content 상세보기 -->
	<sql id="where-no">
		WHERE no = #{no}
	</sql>
	<!-- 조회수증가 -->
	<update id="hitIncrement">
		UPDATE qna SET
		hit = hit+1
		<include refid="where-no" />
	</update>

	<!-- 상세보기 -->
	<select id="boardContentData" resultType="BoardVO"
		parameterType="int">
		SELECT no, title, content, email, regdate, hit
		FROM qna
		<include refid="where-no" />
	</select>

	<!-- 업데이트 -->
	<update id="boardUpdate" parameterType="BoardVO">
		UPDATE qna SET
		title=#{title}, content=#{content}
		WHERE no = #{no}
	</update>

	<!-- 삭제 -->
	<delete id="boardDelete" parameterType="int">
		DELETE FROM qna
		<include refid="where-no" />
	</delete>
	
	<!-- 답변의 답변 -->
	<select id="boardReply1" resultType="BoardVO" parameterType="int">
		SELECT group_id,group_step,group_tab
		FROM qna
		<include refid="where-no"/>
	</select>
	
	<update id="boardReply2" parameterType="BoardVO">
		UPDATE qna SET
		group_step = group_step+1
		WHERE group_id = #{group_id} AND group_step>#{group_step}
	</update>
	
	<insert id="boardReply3" parameterType="BoardVO">
		INSERT INTO qna(no,email,title,content,group_id,group_step,group_tab,parent)
		VALUES((SELECT NVL(MAX(no)+1,1) FROM qna),	
		#{email},#{title},#{content},#{group_id},#{group_step},#{group_tab},#{parent})
	</insert>
	
	<update id="boardReply4" parameterType="int">
		UPDATE qna SET
		degree = degree+1
		<include refid="where-no"/>
	</update>
	<!-- 여기까지 답변의 답변 -->
	
	<!-- 검색 -->
	<select id="titleSearch" resultType="BoardVO" parameterType="String">
		SELECT * FROM qna
		WHERE title LIKE '%'||#{keyword}||'%'
	</select>
	
	<select id="emailSearch" resultType="BoardVO" parameterType="String">
		SELECT * FROM qna
		WHERE email LIKE '%'||#{keyword}||'%'
	</select>
	
	<select id="contentSearch" resultType="BoardVO" parameterType="String">
		SELECT * FROM qna
		WHERE content LIKE '%'||#{keyword}||'%'
	</select>
	
	<select id="boardTotalPage2" resultType="int" parameterType="String">
	SELECT CEIL(COUNT(*)/10)
	FROM qna
	WHERE title LIKE '%'||#{keyword}||'%'
	</select>
	
	<select id="boardTotalPage3" resultType="int" parameterType="String">
	SELECT CEIL(COUNT(*)/10)
	FROM qna
	WHERE email LIKE '%'||#{keyword}||'%'
	</select>
	
	<select id="boardTotalPage4" resultType="int" parameterType="String">
	SELECT CEIL(COUNT(*)/10)
	FROM qna
	WHERE content LIKE '%'||#{keyword}||'%'
	</select>
</mapper>


