<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gabang.vo.board-mapper">
   <select id="boardListData" resultType="BoardVO" parameterType="java.util.Map">
     SELECT no,title,email,regdate,hit,num
     FROM (SELECT no,title,email,regdate,hit,rownum as num
     FROM (SELECT no,title,email,regdate,hit 
     FROM qna ORDER BY no DESC))
     WHERE num BETWEEN #{start} AND #{end}
   </select>
   <!-- 총페이지 읽기-->
   <select id="boardTotalPage" resultType="int">
     SELECT CEIL(COUNT(*)/10) FROM qna
   </select>
   
   <insert id="boardInsert" parameterType="BoardVO">
     INSERT INTO qna(no,email,title,content,hit) VALUES(
     (SELECT NVL(MAX(no)+1,1) FROM qna),
     #{email},#{title},#{content},0
     )
   </insert>
   
   
   
  <!--  content 상세보기-->
   <sql id = "where-no">
   		WHERE no = #{no}
   </sql>
   
	   <update id="hitIncrement">
	   	UPDATE qna SET
	   	hit = hit+1
	   	<include refid="where-no"/>
	   </update>
   
   
   <select id="boardContentData" resultType="BoardVO" parameterType="int">
   		SELECT no, email, title, content, regdate, hit
   		FROM qna
   		<include refid="where-no"/>
   </select>
 

<!--    
   수정하기
   <select id="boardGetPwd" resultType="String" parameterType="int">
   	SELECT pwd FROM freeboard
   	<include refid="where-no"/>
   </select>
   
   
   <update id="boardUpdate" parameterType="BoardVO">
   	UPDATE freeboard SET
   	name =#{name},subject=#{subject}, content=#{content}
   	WHERE no = #{no}
   </update>
   삭제 
   <delete id="boardDelete" parameterType="int">
		DELETE FROM freeboard
		<include refid="where-no"/>
   </delete>  -->
</mapper>


