<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gabang.vo.maemool-mapper">
	<select id="getGeoInfo_temp" resultType="MapVO">
		SELECT * FROM map_temp
	</select>
	<select id="getDeposit_temp" resultType="MaemoolVO">
		SELECT num, deposit FROM maemool_temp
	</select>
	<select id="searchMaemool_temp" parameterType="String" resultType="MapVO">
		select * from map_temp where addr like '%'||#{keyword}||'%'
	</select>
	<select id="imgFind" parameterType="int" resultType="ImgVO">
		SELECT * FROM img WHERE num = #{num}
	</select>
</mapper>