<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gabang.vo.member-mapper">
	<select id="emailCheck" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM member WHERE email=#{email}
	</select>
	
	<select id="pwdCheck" parameterType="String" resultType="MemberVO">
		SELECT pwd,nick,grade,login FROM member WHERE email=#{email}
	</select>
	
	<select id="nickCheck" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM member WHERE nick=#{nick}
	</select>
	
	<select id="licenseCheck" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM seller WHERE license=#{license}
	</select>
	
	<select id="compTelCheck" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM seller WHERE comp_tel=#{comp_tel}
	</select>
	
	<select id="phoneCheck" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM member WHERE phone=#{phone}
	</select>
	
	<insert id="loginState" parameterType="MemberVO">
		UPDATE member SET login=#{login} WHERE email=#{email}
	</insert>

	<insert id="insertMember" parameterType="MemberVO">
		INSERT INTO member VALUES(#{email},#{pwd},#{gender},#{name},#{nick},#{grade},#{phone})
	</insert>
	
	<insert id="insertSeller" parameterType="SellerVO">
		INSERT INTO seller(license,email,comp_tel,comp_name,addr,intro,pic) 
		VALUES(#{license},#{email},#{comp_tel},#{comp_name},#{addr},#{intro},#{pic})
	</insert>
</mapper>