<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sist.dao.board-mapper">
   <select id="boardListData" resultType="BoardVO" parameterType="java.util.Map">
     SELECT no,title,email,regdate,hit,num
     FROM (SELECT no,title,email,regdate,hit,rownum as num
     FROM (SELECT no,title,email,regdate,hit 
     FROM qna ORDER BY no DESC))
     WHERE num BETWEEN #{start} AND #{end}
     <!-- 
         WHERE num BETWEEN ? AND ?
         ps.setInt(1,map.get("start"))
         ps.setInt(2,map.get("end"))
      -->
   </select>
   <!-- 
        총페이지 읽기
    -->
   <select id="boardTotalPage" resultType="int">
     SELECT CEIL(COUNT(*)/10) FROM freeboard
   </select>
   <!-- 데이터 추가 
     public void boardInsert(BoardVO vo)
   -->
   <!-- <insert id="boardInsert" parameterType="BoardVO">
     <selectKey></selectKey>
   </insert> -->
   <insert id="boardInsert" parameterType="BoardVO">
     INSERT INTO qna VALUES(
       (SELECT NVL(MAX(no)+1,1) FROM qna),
       #{name},#{subject},#{content},#{pwd},
       SYSDATE,0
     )
   </insert>
<!--    
   content 상세보기
   <sql id = "where-no">
   		WHERE no = #{no}
   </sql>
   
	   <update id="hitIncrement">
	   	UPDATE freeboard SET
	   	hit = hit+1
	   	<include refid="where-no"/>
	   </update>
   
   
   <select id="boardContentData" resultType="BoardVO" parameterType="int">
   		SELECT no, name, subject, content, regdate, hit
   		FROM freeboard
   		<include refid="where-no"/>
   </select>
   
   수정하기
   <select id="boardGetPwd" resultType="String" parameterType="int">
   	SELECT pwd FROM freeboard
   	<include refid="where-no"/>
   </select>
   
   
   <update id="boardUpdate" parameterType="BoardVO">
   	UPDATE freeboard SET
   	name =#{name},subject=#{subject}, content=#{content}
   	WHERE no = #{no}
   </update>
   삭제 
   <delete id="boardDelete" parameterType="int">
		DELETE FROM freeboard
		<include refid="where-no"/>
   </delete> -->
</mapper>













